/*******************************************************************************
 * Themes
 ******************************************************************************/
 
:root {
  --global-bg-color: #ffffff;
  --global-code-bg-color: rgba(82, 103, 255, 0.08);
  --global-text-color: #111111;
  --global-text-size: 1.10rem;
  --global-text-color-light: #666b7a;
  --global-text-color-very-light: #848eae;
  --global-theme-color: #2536b8;
  --global-hover-color: #6d3df2;
  --global-footer-bg-color: #111111;
  --global-footer-text-color: #f5f7ff;
  --global-footer-link-color: #{$white-color};
  --global-distill-app-color: #7d86a3;
  --global-divider-color: rgba(17, 17, 17, 0.12);
  --global-card-bg-color: #fcfcff;
  --global-bg-highlight-color: #eef2ff;
  --page-bg-start: #f8f9fc;
  --page-bg-end: #f4f6fb;

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #08080c;
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #f5f7ff;
  --global-text-color-light: #b6bdd3;
  --global-text-color-very-light: #d6dcef;
  --global-theme-color: #00e2ff;
  --global-hover-color: #bb86ff;
  --global-footer-bg-color: #f5f7ff;
  --global-footer-text-color: #08080c;
  --global-footer-link-color: #{$black-color};
  --global-distill-app-color: #dbe1ff;
  --global-divider-color: rgba(245, 247, 255, 0.14);
  --global-card-bg-color: #10111a;
  --global-bg-highlight-color: rgba(142, 162, 255, 0.1);
  --page-bg-start: #08080c;
  --page-bg-end: #0a0b10;

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }
}
