/*******************************************************************************
 * Themes
 ******************************************************************************/
 
:root {
  --global-bg-color: #ffffff;
  --global-code-bg-color: #dfdfdf5a;
  --global-text-color: #2B2622;
  --global-text-size: 1.10rem;
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #505090;;
  --global-hover-color: #{$purple-color};
  --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #{$white-color};
  --global-distill-app-color: #{$grey-color};
  --global-divider-color: rgb(154, 118, 116);
  --global-card-bg-color: #F6F1E8;
  --global-bg-highlight-color: #f2e7df;

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$grey-color-dark};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #{$grey-color-light};
  --global-text-color-light: #{$grey-color-light};
  --global-theme-color: #505090;
  --global-hover-color: #505090;
  --global-footer-bg-color: #{$grey-color-light};
  --global-footer-text-color: #{$grey-color-dark};
  --global-footer-link-color: #{$black-color};
  --global-distill-app-color: #{$grey-color-light};
  --global-divider-color: #424246;
  --global-card-bg-color: #{$grey-900};

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }
}
